/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 300px;
}

h1, input, button, h2, h3, form {
  text-align: center;
}

body {
  background-color: peachpuff;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
